{:db {:dbtype "postgresql"
      :host #or [#env DB_HOST "localhost"]
      :port #long #or [#env DB_PORT 8091]
      :dbname #or [#env DB_NAME "app"]
      :user #or [#env DB_USER "admin"]
      :password #or [#env DB_PASSWORD "password"]}
 :server {:port #long #or [#env PORT 8090]}}
